streamlit

# LangChain ecosystem
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langchain-chroma
# Chroma DB
chromadb
# Google + Auth
gspread
oauth2client
google-auth

# Misc / Utilities
python-dotenv
protobuf
tf-keras
